# 本地 nginx.conf
server {
    listen 80;
    
    # 乘客端
    location /customer-api/ {
        proxy_pass http://localhost:8600/customer-api/;
    }
    
    # 司机端
    location /driver-api/ {
        proxy_pass http://localhost:8600/driver-api/;
    }
}
